body{
    margin: 0;
}
p{
    font-family:  Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.thumbnail{
    width: 100%;
}
.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 12px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgba( 0,0,0,0.05);
    width: 0;
}
.search-bar::placeholder{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.profile-picture{
    width: 100%;
    border-radius: 25px;
}
.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;;
}
.thumbnail-row{
    margin-bottom: 12px;
}
.video-author , .video-stats{
    font-size : 12px;
    color:#000000;
}
.video-author{
    margin-bottom :6px ;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-grid{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
}
.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-section{
display: flex;
align-items: center;
justify-content: space-around;
width: 150px;

}
.middle-section{
    display: flex;
align-items: center;
flex:1;

margin-left: 70px;
margin-right: 35px;
max-width: 500px;
}
.right-section{
width: 180px;
display: flex;
align-items: center;
justify-content: space-between;
margin-right:20px ;
flex-shrink: 0;
}

.hamburger-menu{
    height: 24px;
}
.youtube-logo{
    height: 20px;
}

.search-button{
height: 40px;
width: 66px;
background-color: rgb(240,240,240);
border: 1px solid rgb(192,192,192);
margin-left: -1px;
margin-right: 10px;
}
.voice-search-button{
height: 40px;
width: 40px;
border-radius: 20px;
border:none;
background-color: rgb(192,192,192);
}

.search-icons{
height: 25px;
margin-top: 4px;
}
.voice-search-icon{
    height: 24px;
    margin-top: 4px;
}

.current-user-icon{
    height: 32px;
    border-radius: 16px;
}
.notification-icon{
    height: 24px;

}
.youtube-apps-icon{
    height: 24px;

}
.upload-icon{
    height: 24px;

}