.subscribe-button{
    background-color: rgb(200, 0, 0);
    color:white;
    border:none;
    padding-left:30px;
    padding-right:30px;
    padding-top:20px;
    padding-bottom:20px;
    border-radius : 2px;
    cursor:pointer;
    transition: opacity 0.5s;
}

.subscribe-button:hover{
    opacity: 0.6;
}

.subscribe-button:active{
    opacity: 0.4;
}

.join-button{
    background-color: white;
    border-color: rgb(48, 48, 231);
    border-style: solid;
    border-width: 1px;
    color: rgb(48, 48, 231);
    padding-left:30px;
    padding-right:30px;
    padding-top:20px;
    padding-bottom:20px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.join-button:hover{
    background-color: blue;
    color: white;
}

.join-button:active{
    opacity: 0.5;
}

.tweet-button{
    background-color: rgb(2, 158, 255);
    color:white;
    border: none;
    padding-left:30px;
    padding-right:30px;
    padding-top:20px;
    padding-bottom:20px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: box-shadow 0.15s;
}
.tweet-button:hover{
    box-shadow: 5px 5px 5px rgba(2, 158, 255, 0.15);
}